@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    /* background:yellow ; */
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .logo a{
    color:white;
    font-size: 35px;
    font-weight: 600;
}

/* isse se span me jo hum lio dale hai uska color change alag rhenga. */
.navbar .logo a span{
    color: yellow;
}
.navbar.sticky .logo a span{
    color:red;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition:yellow 0.45s ease;
}

/* hover effect se jab home menu's pr jayenge to color change honga.. */
.navbar .menu li a:hover{
    color:yellow;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar.logo a{
    color: black;
}

.navbar.sticky{
    padding: 15px 0;
    background: yellow;
}
.navbar.sticky .logo a{
    color: black;
}
.navbar.sticky .menu-btn{
    padding: 15px 0;
    color: black;
}
.navbar.sticky .menu li a:hover{
    color:red;
}



.home{
    display: flex;
    background: url(images/remy_loz-3S0INpfREQc-unsplash.jpg) no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    width: 100%;
    display: flex;
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 70px;
    font-weight: 550;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 35px;
    margin-left: 5px 0;
}
.home .home-content .text-3 span{
    color: lime;
    font-weight: 600;
}
.home .home-content a{
    display: inline-block;
    background: yellow;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid yellow;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: yellow;
    background: none;
}

/* About section styling */
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins',sans-serif;
}
.about .about-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .tittle{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .tittle::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: black;
    transform: translate(-50%);

}
.about .tittle::after{
    content: "who I am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:yellow;
    padding: 5px;
    background: black;
    transform: translate(-50%);
}

.about .about-content .left{
    width: 50%;
}
.about .about-content .right{
    width: 50%;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;  
}
.about .about-content .right .text span{
    color: lime ;
}
.about .about-content .right .text p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: yellow;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid yellow;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}
.about .about-content .right a:hover{
color: black;
background: none;
}


/* Service section styling. */
section{
    padding: 100px 0;
}
.services{
    font-family: 'Poppins',sans-serif;
    background: #222;
}

.services .tittle{
    position: relative;
    color: lime;
    text-align: center; 
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.services .tittle::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 210px;
    height: 3px;
    background: beige;
    transform: translate(-50%);

}
.services .tittle::after{
    content: "I'm interested In";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color:black;
    padding: 5px;
    background: yellow;
    transform: translate(-50%);
}

.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services .serv-content .card{
    width: 100%;
    background:beige;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px; 
    cursor: pointer;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 600px;
    color: black;
    margin: 10px 0 7px;
}
.services .serv-content .card  p{
    color: black;
    font-weight: 500px;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.services .serv-content .card:hover  {
    background: yellow;
    border-radius: 6px;
}
.services .serv-content .card i{
    font-size: 50px;
    color: limegreen;
    transition:all 0.3s ease ;
}
.services .serv-content .card:hover i{
    color: black;
    /* font-weight: 500; */
}
.services .serv-content .card:hover p{
    color:black;
    font-weight: 500;
}
.services .serv-content .card:hover .text{
    color: black;
    font-weight: 600;
}

/* Skill section styling. */

section{
    padding: 100px 0;
}
.skills{
    font-family: 'Poppins',sans-serif;
}
.skills .skills-content .left img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.skills .tittle{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.skills .tittle::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 170px;
    height: 3px;
    background: black;
    transform: translate(-50%);

}
.skills .tittle::after{
    content: "what i know";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:yellow;
    padding: 5px;
    background: black;
    transform: translate(-50%);
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .left a{
    display: inline-block;
    background: yellow;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid yellow;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}
.skills .skills-content .left a:hover{
color: black;
background: none;
}
.skills .skills-content .column{
    width: calc(50% - 33px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .right .bars{
    margin: 15px;
}
.skills .skills-content .right .bars .info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;

}
.skills .skills-content .right .bars .info span{
    font-weight: 600;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightslategray;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: lime;
}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 50%;
}
.skills .skills-content .right .js::before{
    width: 60%;
}
.skills .skills-content .right .java::before{
    width: 70%;
}
.skills .skills-content .right .c::before{
    width: 80%;
}
.skills .skills-content .right .DSA::before{
    width: 60%;
}

.skills .skills-content .left p{
   text-align: justify;
}

/* Teams Section Styling.. Or project Section.. */
/* section{
    padding: 100px 0;
}
.teams {
    font-family: 'Poppins',sans-serif;
    background: black;
}
.teams .tittle{
    position: relative;
    color:beige;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.teams .tittle::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 210px;
    height: 3px;
    background: beige;
    transform: translate(-50%);

}
.teams .tittle::after{
    content: "who with me";
    position: absolute;
    bottom: -15px;
    left: 50%;
    font-size: 20px;
    color:black;
    padding: 5px;
    background: yellow;
    transform: translate(-50%);
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;

}
.teams .carousel .card:hover{
    background: yellow;
    color: black;

}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.teams .carousel .card img{
     height: 140px;
     width: 140px;
     object-fit: cover;
     border-radius: 50%;
     border:5px solid yellow;
} */
/* .teams .carousel .card:hover img{
    border: 5px solid white;
} */
/* .teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 7px 0;
    color: beige;
}
.teams .carousel .card:hover .text{
    color: black;
}
.teams .carousel .card p{
    color: beige;
}
.teams .carousel .card:hover p{
    color: black;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid yellow!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
        width: 35px;
        border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: yellow!important;
} */


/* Contact section styling. */

section{
    padding: 100px 0;
}
.contact{
    font-family: 'Poppins',sans-serif;
}

.contact .tittle{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.contact .tittle::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 170px;
    height: 3px;
    background: black;
    transform: translate(-50%);

}
.contact .tittle::after{
    content: "get in touch";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:yellow;
    padding: 5px;
    background: black;
    transform: translate(-50%);
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 33px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: red;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-tittle{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
    /* justify-content: space-between; */
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins',sans-serif;
    transition: all 0.3s ease;

}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus  {
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button-area{
    display: flex;
    align-items: center;
}
.right form .button-area button{
    color: yellow;
    display: block;
    width: 160px! important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: yellow;
    border: 2px solid yellow;
    transition: all 0.3s ease;
    color: black;
}
.right form .button-area button:hover{  
    color: black;
    background: none;
}


/* footer section styling */
footer{
        background: #111;
        padding: 15px 23px;
        color: #fff;
        text-align: center;
        font-family: 'Poppins',sans-serif  ;
}
footer span a{
    color: yellow;
    text-decoration: none;
}




















